<li>
     {{name}}

     <button class="devour-burger" data-id="{{id}}" data-eatburger="{{burgers}}">
         {{#if burgers}}DIG IN!!{{else}}Dig In!{{/if}}
    </button>

    <button class="trash-burger" data-id="{{this.id}}">Throw it away!</button>
    
    </li> 